html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
	position:absolute;
}

.update{
	margin-top: -57px;
    margin-left: 259px;
}

.logout{
	margin-left: 1073px;
    margin-top: -96px;
}

.container1{
	margin-left:20px;
	margin-top:300px;
}

table tr{
	background-color:white;
}

table{
	font-size: 1.4em;
}

table td{
	text-align:center;
}

table th{
	text-align:center;
}
