html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
}

.container1{
	width:550px;
	text-align:center;
	border-radius:4px;
	margin-top:115px;
	margin-left:400px;
	position:absolute;
	background: url(../images/wallpaper14.jpg) no-repeat center fixed;
}

table th{
	text-align: center;
	color:whitegrey;
}

table td{
	text-align: center;
	color:white;
}

table{
	font-size: 1.4em;
}

.select{
	margin-left:-55px;
	position:fixed;
}