html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
}



.container1{
	width:1200px;
	margin-top:150px;
	margin-left:110px;
	position:absolute;
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
}


table th{
	text-align: center;
}

table{
	font-size: 1.4em;
}

.logout{
	margin-right: 100px;
}