html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
}

.container1{
	width:400px;
	padding-bottom:20px;
	text-align:center;
	background-color:rgba(52,73,94,0.5);
	border-radius:4px;
	margin-top:250px;
	margin-left:483px;
	position:fixed;
}


input[type="text"]{
	height:45px;
	width:300px;
	font-size:18px;
	margin-bottom:20px;
	background-color:#fff;
	padding-left:20px;
}

#error p{
	color:white;
}