html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
}

.container1{
	width:400px;
	padding-bottom:20px;
	text-align:center;
	background-color:rgba(52,73,94,0.5);
	border-radius:4px;
	margin-top:100px;
	margin-left:483px;
	position:absolute;
}

input[type="text"]{
	height:45px;
	width:300px;
	font-size:18px;
	margin-bottom:20px;
	background-color:#fff;
	padding-left:20px;
}

input[type="file"]{
	height:45px;
	width:300px;
	font-size:18px;
	margin-bottom:20px;
	background-color:#fff;
	margin-left:50px;
	margin-bottom:-3px;
}

.styled-select select {
  width: 300px;
  font-size:14pt;
  color:black;
  border: 0;
  height: 45px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.mytextarea{
	margin-left:5px;	
	margin-bottom:15px;
}

#error p{
	color:white;
}