html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
}

.container1{
	width:800px;
	text-align:center;
	background-color:rgba(52,73,94,0.6);
	border-radius:4px;
	margin:0 auto;
	margin-top:80px;
	margin-left:250px;
	margin-bottom:50px;
	position:absolute;
}


input[type="text"]{
	height:45px;
	width:300px;
	font-size:18px;
	margin-bottom:20px;
	margin-right:50px;
	background-color:#fff;
	padding-left:20px;
}

.styled-select select {
  width: 150px;
  font-size:14pt;
  color:grey;
  border: 0;
  height: 45px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.btn-change{
	color: #fff;
    background-color: #2ECC71;
    border: none;
    width: 94px;
    height: 46px;
    border-radius: 4px;
    border-bottom: 4px solid #27AE60;
    margin-left: 50px;
}