html{
	background: url(../images/gallery-img2.jpg) no-repeat center fixed;
	background-size:cover;
}

.container1{
	width:500px;
	text-align:center;
	border-radius:4px;
	margin-top:80px;
	margin-left:430px;
	padding-bottom:20px;
	position:absolute;
	background-color:rgba(52,73,94,0.6);
	opacity:0.95;

}
input[type="text"], input[type="password"], input[type="email"]{
	height:34px;
	width:300px;
	font-size:18px;
	margin-bottom:15px;
	background-color:#fff;
	padding-left:20px;
	margin-top:14px;
}
.styled-select select {
	width: 300px;
    font-size: 16pt;
    color: inherit;
    height: 34px;
    padding-left: 15px;
    margin-bottom: 12px;
    margin-top: 9px;
}


.btn-info{
	margin-top:20px;
	margin-left:190px;
}

th{
	text-align: center;
}

table{
	font-size: 1.4em;
}

label{
	color:white;
	margin-right:35px;
}